In [1]:
pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.2.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC43\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC43\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
pip install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (2.2.2)
Requirement already satisfied: packaging>=20.0 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC43\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [4]:
pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: pandas>=1.2 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC43\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [5]:
pip install scipy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scipy in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (1.15.2)
Requirement already satisfied: numpy<2.5,>=1.23.5 in c:\users\lab4-studentpc43\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from scipy) (2.2.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC43\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [6]:
import warnings

In [7]:
import numpy as np

In [8]:
import pandas as pd

In [9]:
import matplotlib.pyplot as plt

In [10]:
import seaborn as sns

In [11]:
from scipy.stats import f_oneway

In [12]:
accident = pd.read_csv('datasets\\accident_data.csv')

In [13]:
accident

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200701BS64157,Serious,5/6/2019,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car
1,200701BS65737,Serious,2/7/2019,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car
2,200701BS66127,Serious,26-08-2019,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,NaN,Urban,NaN,Taxi/Private hire car
3,200701BS66128,Serious,16-08-2019,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats)
4,200701BS66837,Slight,3/9/2019,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,NaN,Urban,NaN,Other vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660674,201091NM01760,Slight,18-02-2022,57.374005,Daylight,Highland,-3.467828,2,1,Dry,Single carriageway,Rural,Fine no high winds,Car
660675,201091NM01881,Slight,21-02-2022,57.232273,Darkness - no lighting,Highland,-3.809281,1,1,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660676,201091NM01935,Slight,23-02-2022,57.585044,Daylight,Highland,-3.862727,1,3,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660677,201091NM01964,Serious,23-02-2022,57.214898,Darkness - no lighting,Highland,-3.823997,1,2,Wet or damp,Single carriageway,Rural,Fine no high winds,Motorcycle over 500cc
660678,201091NM02142,Serious,28-02-2022,57.575210,Daylight,Highland,-3.895673,1,1,Wet or damp,Dual carriageway,Rural,Snowing no high winds,Car

In [14]:
warnings.filterwarnings('ignore')

In [15]:
accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  object
 1   Accident_Severity        660679 non-null  object
 2   Accident Date            660679 non-null  object
 3   Latitude                 660654 non-null  float64
 4   Light_Conditions         660679 non-null  object
 5   District Area            660679 non-null  object
 6   Longitude                660653 non-null  float64
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  659953 non-null  object
 10  Road_Type                656159 non-null  object
 11  Urban_or_Rural_Area      660664 non-null  object
 12  Weather_Conditions       646551 non-null  object
 13  Vehicle_Type             660679 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 70.6+ MB

In [16]:
accident.describe()

            Latitude      Longitude  Number_of_Casualties  Number_of_Vehicles
count  660654.000000  660653.000000         660679.000000       660679.000000
mean       52.553866      -1.431210              1.357040            1.831255
std         1.406922       1.383330              0.824847            0.715269
min        49.914430      -7.516225              1.000000            1.000000
25%        51.490690      -2.332291              1.000000            1.000000
50%        52.315641      -1.411667              1.000000            2.000000
75%        53.453452      -0.232869              1.000000            2.000000
max        60.757544       1.762010             68.000000           32.000000

In [17]:
accident.isnull().sum()

Index                          0
Accident_Severity              0
Accident Date                  0
Latitude                      25
Light_Conditions               0
District Area                  0
Longitude                     26
Number_of_Casualties           0
Number_of_Vehicles             0
Road_Surface_Conditions      726
Road_Type                   4520
Urban_or_Rural_Area           15
Weather_Conditions         14128
Vehicle_Type                   0
dtype: int64

In [18]:
accident.dtypes

Index                       object
Accident_Severity           object
Accident Date               object
Latitude                   float64
Light_Conditions            object
District Area               object
Longitude                  float64
Number_of_Casualties         int64
Number_of_Vehicles           int64
Road_Surface_Conditions     object
Road_Type                   object
Urban_or_Rural_Area         object
Weather_Conditions          object
Vehicle_Type                object
dtype: object

<h2>Filling Up Nulls</h2>

In [19]:
accident['Latitude'] = accident['Latitude'].fillna(accident['Latitude'].mode()[0])
accident['Longitude'] = accident['Longitude'].fillna(accident['Longitude'].mode()[0])
accident['Road_Surface_Conditions'] = accident['Road_Surface_Conditions'].fillna(accident['Road_Surface_Conditions'].mode()[0])
accident['Road_Type'] = accident['Road_Type'].fillna(accident['Road_Type'].mode()[0])
accident['Urban_or_Rural_Area'] = accident['Latitude'].fillna(accident['Urban_or_Rural_Area'].mode()[0])
accident.isnull().sum()

Index                          0
Accident_Severity              0
Accident Date                  0
Latitude                       0
Light_Conditions               0
District Area                  0
Longitude                      0
Number_of_Casualties           0
Number_of_Vehicles             0
Road_Surface_Conditions        0
Road_Type                      0
Urban_or_Rural_Area            0
Weather_Conditions         14128
Vehicle_Type                   0
dtype: int64

In [20]:
accident['Accident Date'] = pd.to_datetime(accident['Accident Date'], dayfirst = True , errors= 'coerce')
accident.dtypes

Index                              object
Accident_Severity                  object
Accident Date              datetime64[ns]
Latitude                          float64
Light_Conditions                   object
District Area                      object
Longitude                         float64
Number_of_Casualties                int64
Number_of_Vehicles                  int64
Road_Surface_Conditions            object
Road_Type                          object
Urban_or_Rural_Area               float64
Weather_Conditions                 object
Vehicle_Type                       object
dtype: object

In [21]:
accident['Weather_Conditions'] = accident['Weather_Conditions'].fillna('unaccounted')
accident.isnull().sum()

Index                           0
Accident_Severity               0
Accident Date              395672
Latitude                        0
Light_Conditions                0
District Area                   0
Longitude                       0
Number_of_Casualties            0
Number_of_Vehicles              0
Road_Surface_Conditions         0
Road_Type                       0
Urban_or_Rural_Area             0
Weather_Conditions              0
Vehicle_Type                    0
dtype: int64

In [22]:
accident['Accident_Severity'].value_counts()

Accident_Severity
Slight     563801
Serious     88217
Fatal        8661
Name: count, dtype: int64

In [23]:
accident['Accident Date'].value_counts()

Accident Date
2021-02-11    685
2021-10-06    680
2019-12-06    678
2019-02-01    676
2021-12-04    667
             ...
2022-01-09    236
2022-12-02    236
2022-04-05    231
2022-02-07    213
2022-01-10    123
Name: count, Length: 576, dtype: int64

<h1>Question 1</h1>
<h2>1. What is the correlation between Number_of_Casualties and Number_of_Vehicles?</h2>

In [24]:
df = accident['Number_of_Casualties'].corr(accident['Number_of_Vehicles'])
df

np.float64(0.2288888612692756)

In [59]:
correlation = accident['Number_of_Casualties'].corr(accident['Number_of_Vehicles'])
print(f"Correlation between Number_of_Casualties and Number_of_Vehicles: {correlation}")

Correlation between Number_of_Casualties and Number_of_Vehicles: 0.2288888612692756

<h1>Insight No.1</h1>
<h2>There is correlation between Number of casualties and Number of Vechiles</h2>

<h1>Question 2</h1>
<h2>Is there a correlation between Latitude and Longitude?</h2>

In [25]:
df = accident['Latitude'].corr(accident['Longitude'])
df

np.float64(-0.3981137948101014)

<h2>There is No correlation between Latitude and Longitude</h2>

<h1>Question 3</h1>
<h2>What is the average NumberofCasualties for each Road Type?</h2>

In [26]:

mean_casualties_by_road_type = accident.groupby('Road_Type')['Number_of_Casualties'].mean()
print(mean_casualties_by_road_type)

Road_Type
Dual carriageway      1.477279
One way street        1.192713
Roundabout            1.274891
Single carriageway    1.343788
Slip road             1.423661
Name: Number_of_Casualties, dtype: float64

<h1>Insight 3</h1>
<h2>Understanding which road types (e.g., highways, residential streets, rural roads) have higher average casualties can highlight areas where safety improvements are needed.</h2>

<h1>Insight 3.1</h1>
<h2>This analysis can help prioritize road safety initiatives by targeting road types with higher accident severity. Urban planners and policymakers can use this information to design and implement effective safety measures, such as better signage, improved road design, or enhanced enforcement of traffic laws.</h2>

<h1>Question 4</h1>
<h2>Is there a correlation between Latitude and Number_of_Casualties?</h2>

In [61]:
correlation = accident['Latitude'].corr(accident['Number_of_Casualties'])
print(f"Correlation between Latitude and Number_of_Casualties: {correlation}")

Correlation between Latitude and Number_of_Casualties: 0.03220129464996809

<h1>Insight No.4</h1>
<h2>There is No correlation between Latitude and Number_of_Casualties</h2>

<h1>Insight No. 4.1</h1>
<h2>The correlation coefficient will tell us if there's a 
linear relationship between the latitude and the number of casualties. A high positive correlation suggests that accidents at higher latitudes tend to have more casualties, while a high negative correlation suggests the opposite.</h2>

<h1>Question 5</h1>
<h2>What is the average Number of Casualties for accidents that occurred during Daylight vs Darkness?</h2>

In [62]:
mean_casualties_by_light_conditions = accident.groupby('Light_Conditions')['Number_of_Casualties'].mean()
print(mean_casualties_by_light_conditions)

Light_Conditions
Darkness - lighting unknown    1.306447
Darkness - lights lit          1.369374
Darkness - lights unlit        1.331105
Darkness - no lighting         1.541657
Daylight                       1.340309
Name: Number_of_Casualties, dtype: float64

<h1>Insight No.5</h1>
<h2>This will show the average number of casualties for accidents during Daylight versus Darkness, helping you understand if accidents at night tend to have more casualties than those during the day.</h2>

<h1>Insight No.5.1</h1>
<h2>Accidents during low light conditions Darkness and Daylight tend to result in a higher average number of casualties, indicating a need for better street lighting and visibility improvements to enhance safety.</h2>

<h1>Question 6</h1>
<h2>What is the mean Latitude and Longitude of accidents?</h2>

In [65]:
mean_lat_long = accident[['Latitude', 'Longitude']].mean()
print(mean_lat_long)

Latitude     52.553862
Longitude    -1.431193
dtype: float64

<h1>Insight No.6</h1>
<h2>This will give the average location (latitude and longitude) of accidents, helping identify areas where accidents commonly occur.</h2>

<h1>Insight No.6.1</h1>
<h2>By comparing these mean coordinates with actual accident locations, we can see if accidents cluster around specific regions or are spread out.</h2>

<h1>Insight No.6.2</h1>
<h2>Use the mean coordinates as a reference for further analysis, like identifying accident hotspots or planning emergency responses</h2>

<h1>Question 7</h1>
<h2>What is the total number of casualties for each Vehicle_Type?</h2>

In [66]:
total_casualties_by_vehicle_type = accident.groupby('Vehicle_Type')['Number_of_Casualties'].sum()
print(total_casualties_by_vehicle_type)

Vehicle_Type
Agricultural vehicle                       2613
Bus or coach (17 or more pass seats)      34915
Car                                      676692
Data missing or out of range                  9
Goods 7.5 tonnes mgw and over             23397
Goods over 3.5t. and under 7.5t            8308
Minibus (8 - 16 passenger seats)           2659
Motorcycle 125cc and under                20348
Motorcycle 50cc and under                 10167
Motorcycle over 125cc and up to 500cc     10286
Motorcycle over 500cc                     34879
Other vehicle                              7554
Pedal cycle                                 270
Ridden horse                                  5
Taxi/Private hire car                     18195
Van / Goods 3.5 tonnes mgw or under       46271
Name: Number_of_Casualties, dtype: int64

<h1>Inisght No.7</h1>
<h2>Cars are involved in the highest number of casualties, indicating a need for targeted safety measures, stricter regulations, and enhanced safety features for cars.</h2>

<h1>Inisght No.7.1</h1>
<h2>The analysis can inform policymakers and manufacturers about the need for improved safety features and regulations for vehicle types with higher casualties.</h2>

<h1>Inisght No.7.2</h1>
<h2>Buses and motorcycles (especially those over 500cc) also have high casualty numbers, suggesting the importance of improving safety awareness and training for drivers of these vehicles.</h2>

<h1>Question 8</h1>
<h2>What is the distribution of accidents based on Vehicle_Type and Road_Type?</h2>

In [31]:
accident.groupby(['Vehicle_Type', 'Road_Type']).size().unstack()

Road_Type,Dual carriageway,One way street,Roundabout,Single carriageway,Slip road
Vehicle_Type,,,,,
Agricultural vehicle,293.0,49.0,129.0,1449.0,27.0
Bus or coach (17 or more pass seats),4043.0,546.0,1704.0,19300.0,285.0
Car,74820.0,10223.0,33187.0,374464.0,5298.0
Data missing or out of range,1.0,NaN,NaN,5.0,NaN
Goods 7.5 tonnes mgw and over,2631.0,341.0,1110.0,13037.0,188.0
Goods over 3.5t. and under 7.5t,959.0,116.0,422.0,4541.0,58.0
Minibus (8 - 16 passenger seats),275.0,40.0,138.0,1507.0,16.0
Motorcycle 125cc and under,2228.0,307.0,991.0,11596.0,147.0
Motorcycle 50cc and under,1085.0,133.0,512.0,5784.0,89.0
Motorcycle over 125cc and up to 500cc,1210.0,154.0,493.0,5701.0,98.0
Motorcycle over 500cc,3930.0,499.0,1737.0,19207.0,284.0
Other vehicle,835.0,130.0,386.0,4222.0,64.0
Pedal cycle,34.0,4.0,16.0,141.0,2.0
Ridden horse,NaN,NaN,NaN,4.0,NaN
Taxi/Private hire car,1973.0,294.0,873.0,10030.0,124.0
Van / Goods 3.5 tonnes mgw or under,5107.0,723.0,2294.0,25675.0,361.0

<h1>Insight No.8</h1>
<h2>This helps visualize how different Vehicle Types are involved in accidents across various Road Types. For example, it might show that trucks are more involved in accidents on highways, while smaller vehicles like cars are more involved in accidents on city roads.</h2>

<h1>Insight No.8.1</h1>
<h2>Cars have the highest number of accidents across all road types, especially on single carriageways.</h2>

<h1>Question 9</h1>
<h2>How many accidents occurred in each District Area?</h2>

In [32]:
df = accident.groupby('District Area').size()
df

District Area
Aberdeen City    1323
Aberdeenshire    1930
Adur              619
Allerdale        1128
Alnwick           232
                 ...
Wychavon         1361
Wycombe          1729
Wyre             1238
Wyre Forest       969
York             1897
Length: 422, dtype: int64

<h1>Insight No.9</h1>
<h2>This will show how many accidents occurred in each District Area, helping identify areas with higher accident rates.</h2>

<h1>Question 10</h1>
<h2>What is the total Number of Vehicles for each District Area and Road Type combination?</h2>

In [33]:
accident.groupby(['District Area', 'Road_Type'])['Number_of_Vehicles'].sum()

District Area  Road_Type
Aberdeen City  Dual carriageway       436
               One way street          37
               Roundabout             168
               Single carriageway    1507
               Slip road               18
                                     ...
York           Dual carriageway       229
               One way street          98
               Roundabout             338
               Single carriageway    2846
               Slip road               10
Name: Number_of_Vehicles, Length: 2060, dtype: int64

<h1>Insight No.10</h1>
<h2>The total number of vehicles involved in accidents for each District Area and Road Type combination. It helps identify areas or road types with higher vehicle involvement, which could point to more congested areas or road types that need better traffic management or infrastructure improvements.</h2>

<h1>Qeustion 11</h1>
<h2>What is the median Number of Casualties for each Road Type?</h2>

In [34]:
accident.groupby('Road_Type')['Number_of_Casualties'].median()

Road_Type
Dual carriageway      1.0
One way street        1.0
Roundabout            1.0
Single carriageway    1.0
Slip road             1.0
Name: Number_of_Casualties, dtype: float64

<h1>Insight No.11</h1>
<h2>The median for number of casualties is 1.0 percent</h2>

<h1>Question 12</h1>
<h2>What is the most Accident Severity for total of number of accident?</h2>

In [35]:
accident.groupby('Accident_Severity').size()

Accident_Severity
Fatal        8661
Serious     88217
Slight     563801
dtype: int64

In [36]:
accident[]

SyntaxError: invalid syntax (3375376522.py, line 1)

<h1>Insight No.12</h1>
<h2>The Slight is the most accident severity base on number of accident</h2>

<h1>Question 13</h1>
<h2>What is the maximum Number of Casualties for each Road Type?</h2>

In [37]:
accident.groupby('Road_Type')['Number_of_Casualties'].max()

Road_Type
Dual carriageway      47
One way street        15
Roundabout            19
Single carriageway    62
Slip road             68
Name: Number_of_Casualties, dtype: int64

<h1>Insight No.13</h1>
<h2>The code will show the highest number of casualties for each road type. This helps identify which road types, like highways or rural roads, might need more safety measures to prevent severe accidents.</h2>

<h1>Question 14</h1>
<h2>What is the road type that most accident happened?</h2>

In [38]:
accident['Road_Type'].value_counts()

Road_Type
Single carriageway    496663
Dual carriageway       99424
Roundabout             43992
One way street         13559
Slip road               7041
Name: count, dtype: int64

<h1>Inisght No. 14</h1>
<h2>The most road type that accident mostly happen is Single Carriageway</h2>

<h1>Question 15</h1>
<h2>What is the mean Number of Vehicles by Weather Conditions for each Accident Severity?</h2>

In [39]:
accident.groupby(['Weather_Conditions', 'Accident_Severity'])['Number_of_Vehicles'].mean()

Weather_Conditions     Accident_Severity
Fine + high winds      Fatal                1.725714
                       Serious              1.600803
                       Slight               1.811887
Fine no high winds     Fatal                1.793662
                       Serious              1.685451
                       Slight               1.862188
Fog or mist            Fatal                2.304878
                       Serious              1.747412
                       Slight               1.803915
Other                  Fatal                1.715152
                       Serious              1.622987
                       Slight               1.796694
Raining + high winds   Fatal                1.765517
                       Serious              1.563838
                       Slight               1.811061
Raining no high winds  Fatal                1.737028
                       Serious              1.672159
                       Slight               1.854526
Snowing + high winds   Fatal                1.000000
                       Serious              1.770642
                       Slight               1.736093
Snowing no high winds  Fatal                1.777778
                       Serious              1.578761
                       Slight               1.772397
unaccounted            Fatal                1.607477
                       Serious              1.596449
                       Slight               1.824284
Name: Number_of_Vehicles, dtype: float64

<h1>Insight No.15</h1>
<h2>In clear weather, accidents tend to involve fewer vehicles, while fog increases the number of vehicles in fatal accidents, and rain leads to more vehicles in minor accidents due to slippery roads and reduced visibility.</h2>

<h1>Question 16</h1>
<h2>What are the top 5 District Area values by the number of accidents ?</h2>

In [40]:
accident['District Area'].value_counts().head(5)

District Area
Birmingham    13491
Leeds          8898
Manchester     6720
Bradford       6212
Sheffield      5710
Name: count, dtype: int64

<h1>Insight No.16</h1>
<h2>The Top 5 District Area values by number of accident include Birmingham, Leeds, Manchester, Bradford, and Sheffield</h2>

In [41]:
accident['Road_Type'].value_counts()

Road_Type
Single carriageway    496663
Dual carriageway       99424
Roundabout             43992
One way street         13559
Slip road               7041
Name: count, dtype: int64

In [42]:
accident.dtypes

Index                              object
Accident_Severity                  object
Accident Date              datetime64[ns]
Latitude                          float64
Light_Conditions                   object
District Area                      object
Longitude                         float64
Number_of_Casualties                int64
Number_of_Vehicles                  int64
Road_Surface_Conditions            object
Road_Type                          object
Urban_or_Rural_Area               float64
Weather_Conditions                 object
Vehicle_Type                       object
dtype: object

In [43]:
accident['Weather_Conditions'].value_counts()

Weather_Conditions
Fine no high winds       520885
Raining no high winds     79696
Other                     17150
unaccounted               14128
Raining + high winds       9615
Fine + high winds          8554
Snowing no high winds      6238
Fog or mist                3528
Snowing + high winds        885
Name: count, dtype: int64

<h1>Question 17</h1>
<h2>What is the average number of casualties based on the accident severity?</h2>

In [44]:
accident.groupby('Accident_Severity')['Number_of_Casualties'].mean()

Accident_Severity
Fatal      1.903129
Serious    1.467280
Slight     1.331402
Name: Number_of_Casualties, dtype: float64

<h1>Insight No.17</h1>
<h2>Higher severity accidents will likely have more casualties on average. This helps in understanding the impact of accident severity on casualties and allows for more focused prevention efforts in severe accident types</h2>

In [45]:
accident['Number_of_Vehicles'].isnull().sum()

np.int64(0)

<h1>Question 18</h1>
<h2>Do urban or rural areas have more accidents based on the number of casualties?</h2>

In [46]:
accident.groupby('Urban_or_Rural_Area')['Number_of_Casualties'].mean()

Urban_or_Rural_Area
49.914430    1.0
49.914488    1.0
49.914949    1.0
49.915159    1.0
49.915730    1.0
            ...
60.648412    1.0
60.665748    1.0
60.668921    1.0
60.714772    1.0
60.757544    1.0
Name: Number_of_Casualties, Length: 511618, dtype: float64

<h1>Insight No.18</h1>
<h2>Rural areas might have higher casualties due to higher speeds or fewer emergency services, while urban areas might have a larger number of accidents overall. This insight can help allocate resources to improve safety in both areas.</h2>

In [47]:
accident['Light_Conditions'].value_counts()

Light_Conditions
Daylight                       484880
Darkness - lights lit          129335
Darkness - no lighting          37437
Darkness - lighting unknown      6484
Darkness - lights unlit          2543
Name: count, dtype: int64

<h1>Question 19</h1>
<h2>Do accident severities differ across different districts?</h2>

In [48]:
district_severity = accident.groupby('District Area')['Accident_Severity'].value_counts(normalize=True).unstack()
district_severity

Accident_Severity     Fatal   Serious    Slight
District Area
Aberdeen City      0.009070  0.180650  0.810280
Aberdeenshire      0.034197  0.239896  0.725907
Adur               0.012924  0.163166  0.823910
Allerdale          0.021277  0.126773  0.851950
Alnwick            0.025862  0.142241  0.831897
...                     ...       ...       ...
Wychavon           0.022043  0.141807  0.836150
Wycombe            0.011567  0.124928  0.863505
Wyre               0.012116  0.150242  0.837641
Wyre Forest        0.022704  0.136223  0.841073
York               0.011070  0.134423  0.854507

[422 rows x 3 columns]

<h1>Insight No.19</h1>
<h2>By examining the distribution of accident severity across districts, you can identify areas that are disproportionately affected by severe accidents. This can inform targeted road safety interventions, such as better infrastructure or traffic management.</h2>

<h1>Question 20</h1>
<h2>Is there a significant difference in the Road Type across different Number of Casualties?</h2>

In [49]:
f_stats, p_value = f_oneway(
    accident[accident['Road_Type'] == 'Single carriageway']['Number_of_Casualties'],
    accident[accident['Road_Type'] == 'Dual carriageway']['Number_of_Casualties'],
    accident[accident['Road_Type'] == 'Roundabout']['Number_of_Casualties'],
    accident[accident['Road_Type'] == 'One way street']['Number_of_Casualties'],
    accident[accident['Road_Type'] == 'Slip road']['Number_of_Casualties']
)
p_value

np.float64(0.0)

<h1>Insight No.20</h1>
<h2>There is no significant difference between Road Type and Number of Casualties</h2>

In [50]:
accident['Weather_Conditions'].value_counts()

Weather_Conditions
Fine no high winds       520885
Raining no high winds     79696
Other                     17150
unaccounted               14128
Raining + high winds       9615
Fine + high winds          8554
Snowing no high winds      6238
Fog or mist                3528
Snowing + high winds        885
Name: count, dtype: int64

In [51]:
accident.dtypes

Index                              object
Accident_Severity                  object
Accident Date              datetime64[ns]
Latitude                          float64
Light_Conditions                   object
District Area                      object
Longitude                         float64
Number_of_Casualties                int64
Number_of_Vehicles                  int64
Road_Surface_Conditions            object
Road_Type                          object
Urban_or_Rural_Area               float64
Weather_Conditions                 object
Vehicle_Type                       object
dtype: object

<h1>Question No.21</h1>
<h2>Is there a significant difference in the number of casualties based on vehicle types?</h2>

In [52]:
f_stat_vehicle_type, p_value_vehicle_type = f_oneway(
    accident[accident['Vehicle_Type'] == 'Car']['Number_of_Casualties'],
    accident[accident['Vehicle_Type'] == 'Van / Goods 3.5 tonnes mgw or under']['Number_of_Casualties'],
    accident[accident['Vehicle_Type'] == 'Motorcycle over 500cc']['Number_of_Casualties'],
    accident[accident['Vehicle_Type'] == 'Goods 7.5 tonnes mgw and over']['Number_of_Casualties'],
    accident[accident['Vehicle_Type'] == 'Taxi/Private hire car']['Number_of_Casualties'],
    accident[accident['Vehicle_Type'] == 'Motorcycle over 125cc and up to 500cc']['Number_of_Casualties'],
    accident[accident['Vehicle_Type'] == 'Motorcycle 50cc and under']['Number_of_Casualties'],
    accident[accident['Vehicle_Type'] == 'Goods over 3.5t. and under 7.5t']['Number_of_Casualties'],
    accident[accident['Vehicle_Type'] == 'Other vehicle ']['Number_of_Casualties'],
    accident[accident['Vehicle_Type'] == 'Minibus (8 - 16 passenger seats)']['Number_of_Casualties'],
    accident[accident['Vehicle_Type'] == 'Agricultural vehicle']['Number_of_Casualties'],
    accident[accident['Vehicle_Type'] == 'Pedal cycle']['Number_of_Casualties'],
    accident[accident['Vehicle_Type'] == 'Data missing or out of range ']['Number_of_Casualties'],
    accident[accident['Vehicle_Type'] == 'Ridden horse']['Number_of_Casualties']
)

f_stat_vehicle_type, p_value_vehicle_type

(np.float64(nan), np.float64(nan))

<h1>Insight No.21</h1>
<h2>There is no significant difference in the number of casualties and Vehicle Type!</h2>

In [53]:
accident['Vehicle_Type'].isnull().sum()

np.int64(0)

In [54]:
accident['Number_of_Casualties'].isnull().sum()

np.int64(0)

In [55]:
accident['Accident_Severity'].value_counts()

Accident_Severity
Slight     563801
Serious     88217
Fatal        8661
Name: count, dtype: int64

<h1>Question 22</h1>
<h1>Is there a significant difference in the number of casualties based on accident severity?</h1>

In [56]:
f_stat, p_value = f_oneway(
    accident[accident['Accident_Severity'] == 'Slight']['Number_of_Casualties'],
    accident[accident['Accident_Severity'] == 'Serious']['Number_of_Casualties'],
    accident[accident['Accident_Severity'] == 'Fatal']['Number_of_Casualties']
)

f_stat, p_value

(np.float64(2985.016431113979), np.float64(0.0))

<h1>Insight No.22</h1>
<h2>If the p-value is significant, it means that accidents of different severities involve different numbers of vehicles. For example, fatal accidents might involve more vehicles than slight accidents.</h2>

<h1>Question No.23</h1>
<h2>Does the road surface condition affect accident severity?</h2>

In [57]:
f_stat, p_value = f_oneway(
    accident[accident['Road_Surface_Conditions'] == 'Dry']['Accident_Severity'],
    accident[accident['Road_Surface_Conditions'] == 'Wet or damp']['Accident_Severity'],
    accident[accident['Road_Surface_Conditions'] == 'Frost or ice']['Accident_Severity'],
    accident[accident['Road_Surface_Conditions'] == 'Snow']['Accident_Severity'],
    accident[accident['Road_Surface_Conditions'] == 'Flood over 3cm. deep']['Accident_Severity']
)

p_value

TypeError: unsupported operand type(s) for /: 'str' and 'int'

<h1>Insight No.23</h1>
<h2></h2>

In [ ]:
accident['Road_Surface_Conditions'].value_counts()